<footer>
    <div id="footer-main">
        <h3>&copy Gurharpartap Singh. All Rights Reserved.</h3>
        <div >
            <a href="/">Home</a>
            <a href="/user/profile">Profile</a>
        </div>
    </div>
</footer>