
    <h1>Hey This is the home page</h1>

<%if(locals.user){%>
    <section>
        <form action="/post/create" method="POST" id="post-from">
            <textarea name="content" id="content" cols="30" rows="3" placeholder="Enter Text..." required></textarea>
            <input type="submit" value="Post">
        </form>
    </section>

<%}%>

    <section>
        <h1>Posts</h1>
        <ul>
       
        
            
            <%for(i of posts){%>
                
               <%-include('_post')-%>
        <%}%>
        </div>
       
        </ul>
    </section>


    <section id="friends-list">
        <ul>
            <h1>Friends</h1>
            <%for(u of all_users){%>
              <li>  <a href="/user/profile/<%=u.id%>"><%=u.name%></a></li>
                <%}%>
        </ul>
    </section>