
    <h1>Hey This is the home page</h1>


    <section>
        <form action="/post/create" method="POST" id="post-from">
            <textarea name="content" id="content" cols="30" rows="3" placeholder="Enter Text..."></textarea>
            <input type="submit" value="Post">
        </form>
    </section>

    <section>
        <h1>Posts</h1>
        <ul>
        <%for(i of posts){%>
        <li><h2><%=i.content%> By <%=i.user.name%></h2></li>
        <%}%>
        </ul>
    </section>