
    <h1>Hey This is the home page</h1>


    <section>
        <form action="/post/create" method="POST" id="post-from">
            <textarea name="content" id="content" cols="30" rows="3" placeholder="Enter Text..."></textarea>
            <input type="submit" value="Post">
        </form>
    </section>
