<h1>Sign Up Page</h1>
<form action="/user/create" method="POST">
    <input type="text" name="name" id="" placeholder="Enter Name" required>
    <input type="email" name="email" id="" placeholder="Enter Email" required>
    <input type="password" name="password" id="" placeholder="Enter password" required>
    <input type="confirm_password" name="confirm_password" id="" placeholder="Confirm password" required>
    <input type="submit" required value="Sign Up">

</form>