#header-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    a{
        text-decoration: none;
        color: white;
       
        }
    height: 10%;
    width: 98.5%;
    margin-top: 0;
   
    padding: 10px;
    
    background-color: rebeccapurple;
    background: rgb(206,7,240);
    background: linear-gradient(90deg, rgba(206,7,240,1) 0%, rgba(17,230,81,1) 100%);
}
.header-oth{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    li{
        display: inline-block;
        list-style: none;
        a{
        text-decoration: none;
        color: white;
        font-weight: 700;
        font-size: 1rem;
        }
    }
}